/*Así se escriben comentarios en css*/

body{
    color:white;
    background-color: black;
}

p{
    Color: rgb(253, 141, 203);
}

h3{
    font-size: 30px;
    font-family: georgia;

}
/*Google fonts*/
h1{
    font-family: 'EB Garamond', serif;
}
/*Tamaño de la fuente*/
p,
ul,
ol {
    font-size: 20px;
}
img{
    /*Propiedad width =ancho*/
    width: 250px;
    border-style:groove;
    /*Estilos de bordes dotted, ridge, double groove solid*/
    border-width: 10px;
    border-color: rgb(238, 113, 134);
    padding: 10px;
    margin: 15px;
}
div{
    background-color: rgb(15, 15, 15);
}
